*{
  box-sizing: border-box;
}
.hidden {
    display: none;
}
.edit-btn{
  display: block;
  width: fit-content;
  height: auto;
  background: silver;
  color: black;
  border-radius: 15px;
}
.education-section-container{
    display: flex;
    width: 95%;
    margin: 0 auto;
    background: #FFFF;
}
.edu-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #2d3142;
    padding: 15px;
}
.edu-info-form{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    background-color: #FBE0C3;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.308);
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}
.edu-info-display{
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: start;
  padding-left: 25px;
  border-bottom: 4px solid #FFBB98;
}
.info-school{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
}
.info-school > h3{
  margin: 0;
}
.info-school-date{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.info-school-date > h3{
  margin: 0;
}
