.exp-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #2d3142;
    padding: 15px;
}
.exp-info-display{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    padding-left: 25px;
}
.info-job{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: start;
    gap: 250px;
    padding-top: 15px;
    color: #2d3142;
}
.info-job > h3{
    margin: 0;
}
.info-job > h4{
    margin: 0;
}
.info-job-descr{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding-left: 25px;
    border-bottom: 1px solid #2d3142;
}
.info-job-descr > h3{
    margin: 0;
}
.form-modal{
    color: #2d3142;
    background-color: #FFBB98;
    position: absolute;
    top: 70%; bottom: 50%;
}
.job-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    font-size: 24px;
}
.duties-list{
    display: flex;
    flex-direction: column;
    text-align: start;
}
